In [2]:
for x in range(5):
    print("Data science")

Data science
Data science
Data science
Data science
Data science

In [1]:
for x in range(2):
    a=int(input("Enter the values:"))
    b=int(input("Enter the values:"))
    print("Addition of a & b is",a+b)

Enter the values:10
Enter the values:40
Addition of a & b is 50
Enter the values:70
Enter the values:40
Addition of a & b is 110

In [8]:
for i in range(4):
    print(i)

0
1
2
3

In [9]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [10]:
for x in range(1,30,3):
    print(x)

1
4
7
10
13
16
19
22
25
28

In [11]:
a="Python"
for x in a:
    print(x)

P
y
t
h
o
n

In [12]:
a=input("Enter character")
for x in a:
    print(x)

Enter characterPune
P
u
n
e

In [13]:
#table of  5 using for loop
#assigned value
for x in range(5,55,5):
    print(x)

5
10
15
20
25
30
35
40
45
50

In [14]:
#table by user defined value

In [16]:
a=int(input("Enter the number"))
for x in range(a,a*11,a):
    print(x)

Enter the number7
7
14
21
28
35
42
49
56
63
70

In [17]:
for x in range(10):
    print("Python")

Python
Python
Python
Python
Python
Python
Python
Python
Python
Python

In [19]:
for x in range(3):
    a=int(input("Enter the values:"))
    b=int(input("Enter the values:"))
    c=a*b
    print(c)

Enter the values:4
Enter the values:5
20
Enter the values:12
Enter the values:5
60
Enter the values:23
Enter the values:4
92